fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
pymysql
cryptography
python-dotenv
requests
google-genai
ntscraper
feedparser
twikit
youtube-transcript-api
yt-dlp
playwright
python-multipart
redis
fastapi-cache2[redis]
